<!DOCTYPE html>
<html>
    <head>
        <title> LiveData </title>
    </head>
    <body>
        <div id="main"></div>
        <script src="/jquery.js"></script>
        <script src="/underscore.js"></script>
        <script src="/backbone.js"></script>
        <script src="/models.js"></script>
        <script src="/views.js"></script>
        <script src="/router.js"></script>
    </body>
</html>
